# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables & secrets
.env

# Database & Vector Store
*.db
*.sqlite3
chroma_db/
database/*.db

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db
